.characterContainer {
    display: table-row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.308);
    height: 40vh;
    margin: 5%;
    border-radius: 1rem;

    
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.stuffContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}